<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Spirax" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Meme Maker</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/add">New</a></li>
            </ul>
        </div>
    </nav>
    <div class="text-center">
        <h1 class="new"><strong>Welcome to Meme Maker!</strong></h1>
    </div>
<div class="container">
    <div class="alert alert-info">
<div class="text-center">
    <a href="/add">Add a meme</a><br/>

    <div class="col-container" th:each="meme: ${memes}">
        <div class="col" style="background:rosybrown">
            <h3 th:text="${meme.headline}"></h3>
            <p th:if="${meme.image}" !=" null">
                <img th:src="${meme.image}" width="300px" height="300px"/>
            </p>
            <h3 th:text="${meme.headline2}"></h3>
        </div>

        <div class="col" style="background:cadetblue">
            <h3 th:text="${meme.description}"></h3>
        </div>

        <div class="col" style="background:rosybrown">
            <a th:href="@{/update/{id}(id=${meme.id})}">Update</a><br/>
            <a th:href="@{/detail/{id}(id=${meme.id})}">Details</a><br/>
            <a th:href="@{/delete/{id}(id=${meme.id})}">Delete</a><br/>
        </div>
    </div>

<!--</div>
        <table>
    <tr th:each="meme: ${memes}">
        <td>
            <h3 th:text="${meme.headline}"></h3>
            <p th:if="${meme.image}" !=" null">
                <img th:src="${meme.image}" width="300px" height="300px"/>
            </p>
            <h3 th:text="${meme.headline2}"></h3>
        </td>
        <td>
            <h3 th:text="${meme.description}"></h3>
        </td>
        <td>
            <a th:href="@{/update/{id}(id=${meme.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${meme.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${meme.id})}">Delete</a>
        </td>
    </tr>
</table>

</div>-->
</div>
    </div>
</div>
</body>
</html>